.todo-nosotros {
    background-color: #191919;
    padding-top: 75px;
    padding-bottom: 75px;
}

.sobre-nosotros {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.sobre-nosotros h2 {
    color: red;
    margin-bottom: 15px;
}

.sobre-nosotros p {
    margin-bottom: 50px;
    color: white;
}

.valores {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
}

.valores li {
    background: #f8f8f8;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.donde {
    margin-top: 50px;
}

.mapa {
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.rese単as {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.rese単a {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.rese単a:last-child {
    border-bottom: none;
}

.rese単a p {
    color: black;
    margin: 5px 0;
}


/* Responsive */
@media (max-width: 768px) {
    .sobre-nosotros {
        max-width: 500px;
        padding: 10px;
    }

    .valores {
        font-size: 16px;
    }
}