.todo-contacto{
    background-color: #191919;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contacto {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

.contacto h2 {
    color: red;
    margin-bottom: 15px;
}

h3{
    color: red;
}

p{
    color: white;
}

.contacto .parrafoContactar {
    margin-bottom: 30px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.contacto label{
    color: white;
}

.contacto input, .contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 7px;
}

#email{
    font-family: 'Poppins', sans-serif;
}

.contacto button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 40px;
}

.contacto button:hover {
    background-color: darkred;
}

@media (max-width: 768px) {
    .contacto{
        max-width: 550px;
    }
}